.chat-row {
  display: flex;
  margin: 5px;
  width: 100%;
}
.row-reverse {
  flex-direction: row-reverse;
}
.chat-bubble {
  font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
  border: 1px solid transparent;
  padding: 5px 10px;
  margin: 0px 7px;
  max-width: 70%;
}
.ai-bubble {
  background: white;
  border-radius: 10px;
  color: black;
}
.human-bubble {
  background: yellow;
  border-radius: 20px;
  color: black;
}
.chat-icon {
  border-radius: 5px;
}
